<div>
  <h1>マイページ</h1>
  <%= current_customer.account %>
  <%= link_to "アカウント名変更", edit_public_customer_path(current_customer.id) %>

  <div>
    <h2>投稿レビュー一覧</h2>
    <div>
      <% @reviews.each do |review| %>
        <p>投稿日時:<%= review.created_at %></p>
        <p>型番:<%= link_to public_review_path(review.id) do %>
          <%= review.home_appliance.model_number %>
        <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
