<div class="container px-5 px-sm-0"></br>

  <h1><%= current_customer.account %></h1>
  <%= link_to "アカウント名変更", edit_public_customer_path(current_customer.id), class: "btn btn-success" %>

  <h4>投稿レビュー一覧</h4>
  <table class="table">
    <thead>
      <tr>
        <th>投稿日時</th>
        <th>型番</th>
        <th>レビュータイトル</th>
        <th>評価</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td><%= review.created_at %></td>
        <td><%= review.home_appliance.model_number %></td>
        <td>
          <%= link_to public_review_path(review.id) do %>
            <%= review.review_title %>
          <% end %>
        </td>
        <td><%= review.score %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
