<div>
  <h1>マイページ</h1>
  <%= current_customer.account %>
  <%= link_to "アカウント名変更", edit_public_customer_path(current_customer.id) %>

  <div>
    <h2>投稿レビュー一覧</h2>
    <div>
      <% @reviews.each do |review| %>
        <p>投稿日時:<%= review.created_at %></p>
        <p>型番:<%= review.model_number %></p>
        <%= link_to public_review_path(review.id) do %>
          <%= review.model_number %>
        <% end %>
        <p>家電ジャン:<%= review.genre.name %></p>
        <p>レビュー数:<%= link_to "#{home_appliance.review.count}レビュー", new_public_review_path %></p>
      <% end %>
    </div>
  </div>
</div>
