<div class="container px-5 px-sm-0">
  <p><%= @home_appliance.model_number %>詳細</p>

  <div>
    <p>カテゴリー</p>
    <%= @home_appliance.genre.name %>
  </div>

  <div>
    <p>レビュー件数：<%= @home_appliance.reviews.count %></p>
    <% @home_appliance.reviews.each do |review| %>
      <%= review.customer.account %>
      <%= @review.created_at %><%= @review.review_title %>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@home_appliance, @review], url: public_home_appliance_review_create_path(@home_appliance.id), method: :post do |f| %>
      <div>
        <%= f.label :review_title, "レビュータイトル" %>
        <%= f.text_field :review_title %>
      </div>
      <div>
        <%= f.label :review_contents, "レビュー内容" %>
        <%= f.text_area :review_contents, roww: '5', placeholder: "レビューはこちらに" %>
      </div>
      <div>
        <%= f.label :score, "家電評価" %>
        <%= f.select :score, *[1..5] %>
      </div>
      <%= f.hidden_field :genre_id, :value => @home_appliance.genre.id %>
      <%= f.submit "レビューする" %>
    <% end %>
  </div>
</div>
