<div class="container px-5 px-sm-0">
  <p><%= @home_appliance.model_number %>編集</p>

  <div>
    <%= form_with model: @home_appliance, url: admin_home_appliance_update_path(@home_appliance.id), method: :patch do |f| %>
      <div>
        <%= f.label :model_number, "型番" %>
        <%= f.text_field :model_number %>
      </div>
      <div>
        <%= f.label :genre , "カテゴリー" %>
        <%= f.collection_select :genre_id, @genre, :id, :name %>
      </div>
      <%= f.submit "保存する" %>
      <%= link_to "詳細画面へ戻る", admin_home_appliance_path(@home_appliance.id) %>
      <%= link_to "削除する", admin_home_appliance_destroy_path(@home_appliance.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
</div>