<div class="container px-5 px-sm-0">
  <h1>新規家電登録</h1>
  <div>
    <%= form_with model: @home_appliance, url: admin_home_appliance_create_path, method: :post do |f| %>
      <div>
        <%= f.label :image, "家電画像" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div>
        <%= f.label :model_number, "型番" %>
        <%= f.text_field :model_number %>
      </div>
      <div>
        <%= f.label :genre, "カテゴリー" %>
        <%= f.collection_select :genre_id, @genre, :id, :name, prompt: "選択してください" %>
      </div>
    <%= f.submit "新規登録" %>
    <% end %>
  </div>
</div>