<div class="container px-5 px-sm-0"></br>

  <h4>最新レビュー</h4>
  <table class="table">
    <% @review.first(8).each do |review| %>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% if review.image.attached? %>
              <%= image_tag review.image, size: "100x100" %>
            <% else %>
              <%= image_tag asset_path('no_image.jpg', size: "100x100") %>
            <% end %>
          </td>
          <td>
            <%= link_to public_review_path(review.id) do %>
              <%= review.home_appliance.model_number %>
            <% end %>
          </td>
          <td>
            <%= link_to public_review_path(review.id) do %>
              <%= review.review_title %>
            <% end %>
          </td>
          <td><%= review.score %></td>
          <td>
            <%= link_to public_customer_path(review.customer_id) do %>
              <%= review.customer.account %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>