<div class="container px-5 px-sm-0">
  <h1><%= @customer.account %>様の詳細画面</h1>
  <div>
    <p>アカウントID</p>
    <%= @customer.id %>
  </div>

  <div>
    <p>アカウント名</p>
    <%= @customer.account %>
  </div>

  <div>
    <p>メールアドレス</p>
    <%= @customer.email %>
  </div>
  <div>
    <p>アカウントステータス</p>
    <div>
      <% if @customer.is_deleted %>
        無効
      <% else %>
        有効
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "アカウント情報変更", edit_admin_customer_path(@customer.id) %>
  </div>

  <div>
    <% @reviews.each do |review| %>
      <div>
        <p>レビュー日時</p>
        <%= review.created_at %>
      </div>
      <div>
        <p>ジャンル</p>
        <%= Genre.name %>
      </div>
      <div>
        <p>家電型番</p>
        <%= review.home_appliance.model_number %>
      </div>
    <% end %>
  </div>
</div>