<h1><%= @customer.account %>様の詳細画面</h1>
<div>
  <p>アカウントID</p>
  <%= @customer.id %>
</div>

<div>
  <p>アカウント名</p>
  <%= @customer.account %>
</div>

<div>
  <p>メールアドレス</p>
  <%= @customer.email %>
</div>
<div>
  <p>アカウントステータス</p>
</div>

<div>
  <% @reviews.each do |review| %>
    <div>
      <p>レビュー日時</p>
      <%= review.created_at %>
    </div>
    <div>
      <p>ジャンル</p>
      <%= Genre.name %>
    </div>
    <div>
      <p>家電型番</p>
      <%= HomeAppliance.model_number %>
    </div>
    <div>
      <p>コメント数</p>

    </div>
  <% end %>
</div>

<div>
  <%= link_to "アカウント情報変更", edit_admin_customer_path(@customer.id) %>
</div>