<div class="container">
  <h1><%= @customer.account %>様の詳細画面</h1>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>アカウントID</th>
          <th>アカウント名</th>
          <th>メールアドレス</th>
          <th>アカウントステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @customer.id %></td>
          <td><%= @customer.account %></td>
          <td><%= @customer.email %></td>
          <td>
            <% if @customer.is_deleted %>
              無効
            <% else %>
              有効
            <% end %>
          </td>
          <td><%= link_to "アカウント情報変更", edit_admin_customer_path(@customer.id), class: "btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>レビュー日時</th>
          <th>ジャンル</th>
          <th>家電型番</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.created_at %></td>
            <td><%= Genre.name %></td>
            <td><%= review.home_appliance.model_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>