<h1><%= Customer.account(customer.id) %>様の詳細画面</h1>
<div>
  <p>アカウントID</p>
  <%= @customer.id %>
</div>

<div>
  <p>アカウント名</p>
  <%= @customer.account %>
</div>

<div>
  <p>メールアドレス</p>
  <%= @customer.email %>
</div>
<div>
  <p>アカウントステータス</p>
</div>

<div>
  <%= link_to "アカウント情報変更", edit_admin_customer_path(@customer.id) %>
  <%= link_to "投稿レビュー", admin_revies_path(@customer.id) %>
  <%= link_to "投稿コメント", admin_comments_path(@customer.id) %>
</div>