<div class="container px-5 px-sm-0">
  <h1><%= @review.home_appliance.model_number %>のレビュー</h1>

  <div>
    <div>
      <% if @review.image.attached? %>
        <%= image_tag @review.image, size: "300×300" %>
      <% else %>
        <%= image_tag 'no_image', size: "300×300" %>
      <% end %>
    </div>
    <div>
      <%= @review.review_title %>
    </div>
    <div>
      <%= @review.review_contents %>
    </div>
    <div>
      <%= @review.score %>
    </div>
    <div>
      <%= link_to "削除する", admin_review_destroy_path(@review.id), method: :delete %>
    </div>
  </div>
</div>