<div class="container px-5 px-sm-0">
  <h1><%= @review.home_appliance.model_number %>のレビュー</h1>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @review.image.attached? %>
            <%= image_tag @review.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "200x200" %>
          <% end %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>レビュータイトル</td>
        <td><%= @review.review_title %></td>
      </tr>
      <tr>
        <td>家電評価</td>
        <td><%= @review.score %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= link_to "レビュー一覧へ戻る", admin_reviews_path(@review.id), class: "btn btn-info" %>
          <%= link_to "削除する", admin_review_destroy_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>