<div>
  <h1>新規レビュー</h1>
  <%= form_with model: @review, url: public_review_create_path, method: :post do |f| %>
    <div>
      <%= f.label :image, "家電画像" %>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div>
      <%= f.label :model_number, "家電型番" %>
      <%= f.text_field :model_number %>
    </div>
    <div>
      <%= f.label :genre, "家電ジャンル" %>
      <%= f.collection_select :genre_id, @genre, :id, :name, include_blank: "--選択してください--" %>
    </div>
    <div>
      <%= f.label :star, "家電評価" %>
    </div>
    <div>
      <%= f.label :review_contents, "レビュー" %>
      <%= f.text_area :review_contents %>
    </div>
    <div>
      <%= f.submit "レビューを投稿する" %>
    </div>
    <% end %>

</div>