<div class="container"></br>
  <h2><%= @review.home_appliance.model_number %>のレビュー</h2>

  <div class="row">
    <div class="col-4-lg">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% if @review.image.attached? %>
                <%= image_tag @review.image, size: "300×300" %>
              <% else %>
                <%= image_tag 'no_image.jpg', size: "300x300" %>
              <% end %>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-8-lg">
      <div>
        <h2><%= @review.review_title %></h2></br>
        <h4>家電評価:<%= @review.score %></h4></br>
        <h2><%= @review.review_contents %></h2></br>
      </div>

      <div>
        <%= link_to 'レビュー一覧へ戻る', public_reviews_path, class: "btn btn-info" %>
        <% if customer_signed_in? && current_customer.id == @review.customer_id %>
          <%= link_to "削除", public_review_destroy_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>