<div>
  <h1>レビュー詳細</h1>
  <div>
    <% if @review.image.attached? %>
      <%= image_tag @review.image, size: "300×300" %>
    <% else %>
      <%= image_tag 'no_image', size: "300×300" %>
    <% end %>
    <%= @review.home_appliance.model_number %>
  </div>
  <div>
    <%= @review.review_title %>
  </div>
  <div>
    <%= @review.review_contents %>
  </div>
  <div>
    <% if customer_signed_in? && current_customer.id == @review.customer_id %>
      <%= link_to "削除", public_review_destroy_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
</div>