</br>
<div class="container">
  <h2>新規登録</h2>

  <%= form_with model: @customer, url: customer_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :account, "アカウント名" %><br />
      <%= f.text_field :account %>
    </div>
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div></br>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    </div></br>

    <div>
    会員登録がお済の方は<%= link_to "こちら", new_customer_session_path %>
    </div>
  <% end %>
</div>